# MacOS
.DS_Store

# IntelliJ
.idea/*
*.iml

# Compiled output
*.class
out/*

# My Stuff
checkingQuiz.java
src/oopLesson/*
src/bonus_InheritancePolymorph/*
src/bonus_InheritancePolymorph/Animal.java

